.build.env
cs.sh
cscope.*
*.bin
!boards/mimxrt700evk/drivers/core1_image.bin
!boards/mimxrt700evk/drivers/core1_image_QVGA.bin
!boards/mimxrt700evk/drivers/core1_image_VGA.bin
!boards/mimxrt700evk/drivers/core1_image_QVGA_VGA.bin
*.dis
*.elf
*.map
build_evkmimxrt1170/*
build_evkbimxrt1050/*
build_mcxn9xxevk/*
build_mcxn9xxbrk/*
build/*
boards/linux-pc/FreeRTOS/Demo/Posix_GCC/build/*
boards/linux-pc/camera_emulator/*
__pycache__/
*.pyc
*.pyo
.probe_board_mapping.json
